fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv

pandas
numpy
scikit-learn
xgboost
joblib

python-jose[cryptography]
passlib[bcrypt]

python-multipart

google-auth
google-auth-oauthlib
google-auth-httplib2

pydantic
email-validator

bcrypt